@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    box-sizing: border-box;
}